aiohttp==3.8.5
asyncio==3.4.3
fastapi==0.103.1
grpcio
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-psycopg
opentelemetry-instrumentation-redis
opentelemetry-sdk
opentelemetry-semantic-conventions
otel-metric-base
psycopg[binary,pool]
redis==5.0.0
secp256k1==0.14.0
uvicorn==0.23.2
websockets==11.0.3
orjson
