PGDATABASE_WRITE=nostr
PGUSER_WRITE=nostr
PGPASSWORD_WRITE=nostr #CHANGEME
PGPORT_WRITE=5432
PGHOST_WRITE=172.28.0.4
PGDATABASE_READ=nostr
PGUSER_READ=nostr
PGPASSWORD_READ=nostr #CHANGEME
PGPORT_READ=5432
PGHOST_READ=172.28.0.4
EVENT_HANDLER_PORT=8009
EVENT_HANDLER_SVC=172.28.0.3 # hostname or IP for event handler service
WS_PORT=8008 #Websocket handler port
REDIS_HOST=redis
REDIS_PORT=6379
DD_API_KEY=#(If using Datadog exporter for OTel collector)
DOMAIN= #update to your own 
ADMIN_PUBKEY= #hexidecimal format
CONTACT= #YOUR_EMAIL, must be valid email for certbot to issue you a TLS certificate
ENV_FILE_PATH=./docker/.env
NGINX_FILE_PATH=/etc/nginx/sites-available/default
VERSION=v1.2.0
WOT_ENABLED=True #True or False
ICON="https://image.nostr.build/ca2fd20bdd90fe91525ffdd752a2773eb85c2d5a144154d4a0e6227835fa4ae1.jpg" #link to image or relay NIP11 doc, can replace with your own
DB_CONN_STRING="postgresql://nostr:nostr@127.0.0.1:5432/nostr"
API_HOST=172.28.0.9
API_PORT=8000