PGDATABASE_WRITE=nostr
PGUSER_WRITE=nostr
PGPASSWORD_WRITE=nostr #CHANGEME
PGPORT_WRITE=5432
PGHOST_WRITE=172.28.0.4
PGDATABASE_READ=nostr
PGUSER_READ=nostr
PGPASSWORD_READ=nostr #CHANGEME
PGPORT_READ=5432
PGHOST_READ=172.28.0.4
EVENT_HANDLER_PORT=8009
EVENT_HANDLER_SVC=172.28.0.3 # hostname or IP for event handler service
WS_PORT=8008 #Websocket handler port
REDIS_HOST=redis
REDIS_PORT=6379
DD_API_KEY=#(If using Datadog exporter for OTel collector)
DOMAIN=dev.nostpy.lol
ADMIN_PUBKEY= #hexidecimal format
CONTACT= #YOUR_EMAIL
ENV_FILE_PATH=./docker/.env
NGINX_FILE_PATH=/etc/nginx/sites-available/default
VERSION=v1.2.0
WOT_ENABLED= #True or False
ICON= #For relay NIP11 doc